@import 'variables';

html,
body {
    height: 100%;
}

body {
    margin: 0; 
    padding: 0; 
    border: 0; 

    input {
        -webkit-appearance: none; 
    }

    &.nav-fixed-top {
        padding-top: 51px;
    }

    #primary-wrapper {
        height: 100%; 
    }

    &.homepage {
        #main-navbar {
            display: none;
        }
    }
}

// ----------------------------------------------------- //
//  HOME - PAGE
// ----------------------------------------------------- //

// ----------------------------------------------------- //
//  TEAM - PAGE
// ----------------------------------------------------- //

// ----------------------------------------------------- //
//  CAREER - PAGE
// ----------------------------------------------------- //

// ----------------------------------------------------- //
//  CONTACT - PAGE
// ----------------------------------------------------- //