@import '../bower_components/bootstrap/less/mixins';

@brand-red: rgb(215,32,39);
@brand-red-text-color: #fafafa;

@brand-navy: #394349;
//@brand-navy: rgb(227, 244, 248);
@brand-navy-text-color: #fafafa;

