<footer class="section section-navy section-padded-xs" ng-controller="FooterCtrl">
    <div class="container">
        <div class="text-center">
            <a class="btn extra-padding-right-sm" target="_blank" href="https://www.facebook.com/www.nuage.group/">
                <i class="fab fa-facebook-square fa-2x"></i>
            </a>
            <div class="dropup display-inline">
                <a class="btn dropdown-toggle extra-padding-left-sm" data-toggle="dropdown">
                    <i class="fab fa-weixin fa-2x"></i>
                </a>
                <div class="dropdown-menu">
                    <img class="center-block" height="100" width="100" src="./images/QR-code.png">
                    <h6 class="text-center">Scan to follow us on wechat</h6>
                </div>
            </div>
            <md-input-container>
                <md-select ng-model="chosedLanguage" aria-label="select language" style="background: white !important">
                    <md-option ng-repeat="language in languages" value="{{language.value}}">
                        <img ng-src={{language.icon}} style="margin-right: 5px">
                        {{language.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="text-center">
            <h5 class="text-white display-inline">Nuage Group LLC.</h5>
            <h5 class="text-white display-inline"> &copy; 2013 - {{ currentYear }} | All Right Reserved.</h5>
        </div>
    </div>
</footer>
