<footer class="section section-navy section-padded-xs">        
    <div class="container">
        <div class="text-center">
            <a class="btn extra-padding-right-sm " href="https://www.facebook.com/nuageinvrealty">
                <i class="fa fa-facebook-square fa-2x fa-white"></i>
            </a>
            <div class="dropup display-inline">
                <a class="btn dropdown-toggle extra-padding-left-sm" data-toggle="dropdown">
                    <i class="fa fa-weixin fa-2x fa-white"></i>
                </a>
                <div class="dropdown-menu">
                    <img class="center-block" height="100" width="100" src="./images/QR-code.png">
                    <h6 class="text-center">Scan to follow on wechat</h6> 
                </div>
            </div>
            <a class="btn extra-padding-right-sm " href="https://christiexie.wordpress.com/">
                <i class="fa fa-wordpress fa-2x fa-white"></i>
            </a>
        </div>
        <div class="text-center">
            <h5 class="text-red display-inline">NUAGE INVESTMENT REALITY</h5>
            <h5 class="text-white display-inline"> &copy; 2016 | All Right Reserved.</h5>
        </div>
    </div>
</footer>