<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"COMMERCIAL_GUIDE_INTRODUCTION_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"COMMERCIAL_GUIDE_INTRODUCTION_PARAGRAPH_1" | translate}}</h4>
            <h4>{{"COMMERCIAL_DIFFERENCE_TITLE" | translate}}</h4>
            <ol>
                <li><h4>{{"COMMERCIAL_DIFFERENCE_BP_1" | translate}}</h4></li>
                <li><h4>{{"COMMERCIAL_DIFFERENCE_BP_2" |  translate}}</h4></li>
                <li><h4>{{"COMMERCIAL_DIFFERENCE_BP_3"| translate}}</h4></li>
                <li><h4>{{"COMMERCIAL_DIFFERENCE_BP_4"| translate}}</h4></li>
                <li><h4>{{"COMMERCIAL_DIFFERENCE_BP_5"| translate}}</h4></li>
            </ol>
            <h4>{{"COMMERCIAL_DIFFERENCE_SUBTITLE" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-light-gray section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"COMMERCIAL_INVESTMENT_TYPE_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"COMMERCIAL_INVESTMENT_TYPE_PARAGRAPH_1" | translate}}</h4>
            <div class="extra-padding-sm">
                <h4><strong>{{"COMMERCIAL_INVESTMENT_TYPE_1_TITLE" | translate}}</strong></h4>
                <h4>{{"COMMERCIAL_INVESTMENT_TYPE_1_CONTENT" | translate}}</h4>
            </div>
            <div class="extra-padding-bottom-sm">
                <h4><strong>{{"COMMERCIAL_INVESTMENT_TYPE_2_TITLE" | translate}}</strong></h4>
                <h4>{{"COMMERCIAL_INVESTMENT_TYPE_2_CONTENT" | translate}}</h4>
            </div>
            <div class="extra-padding-bottom-sm">
                <h4><strong>{{"COMMERCIAL_INVESTMENT_TYPE_3_TITLE" | translate}}</strong></h4>
                <h4>{{"COMMERCIAL_INVESTMENT_TYPE_3_CONTENT" | translate}}</h4>
            </div>
            <div class="extra-padding-bottom-sm">
                <h4><strong>{{"COMMERCIAL_INVESTMENT_TYPE_4_TITLE" | translate}}</strong></h4>
                <h4>{{"COMMERCIAL_INVESTMENT_TYPE_4_CONTENT" | translate}}</h4>
                <div class="extra-padding-sm">
                    <h4>{{"COMMERCIAL_INVESTMENT_TYPE_4_SUBCONTENT" | translate}}</h4>
                    <ol>
                        <li><h4>{{"COMMERCIAL_INVESTMENT_TYPE_4_SUBCONTENT_PT1" | translate}}</h4></li>
                        <li><h4>{{"COMMERCIAL_INVESTMENT_TYPE_4_SUBCONTENT_PT2" | translate}}</h4></li>
                        <li><h4>{{"COMMERCIAL_INVESTMENT_TYPE_4_SUBCONTENT_PT3" | translate}}</h4></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"COMMERCIAL_INVESTMENT_METHOD_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"COMMERCIAL_INVESTMENT_METHOD_PARAGRAPH_1" | translate}}</h4>
            <ol>
                <li><h4>{{"COMMERCIAL_INVESTMENT_METHOD_PARAGRAPH_1_SUB1" | translate}}</h4></li>
                <li><h4>{{"COMMERCIAL_INVESTMENT_METHOD_PARAGRAPH_1_SUB2" | translate}}</h4></li>
            </ol>
            <h4>{{"COMMERCIAL_INVESTMENT_METHOD_PARAGRAPH_2" | translate}}</h4>
            <div class="extra-padding-sm">
                <ol>
                    <li><h4><strong>{{"JOINT_VENTURE_TITLE" | translate}}</strong></h4></li>
                    <h4>{{"JOINT_VENTURE_PARAGRAPH_1" | translate}}</h4>
                    <h4>{{"JOINT_VENTURE_PARAGRAPH_2" | translate}}</h4>
                    <h4><strong>{{"JOINT_VENTURE_EXAMPLE_TITLE" | translate}}</strong></h4>
                    <h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_1" | translate}}</h4>
                    <h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2" | translate}}</h4>
                    <ul>
                        <li><h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2_SUB1" | translate}}</h4></li>
                        <li><h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2_SUB2" | translate}}</h4></li>
                        <ul>
                            <li><h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2_SUB3" | translate}}</h4></li>
                            <li><h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2_SUB4" | translate}}</h4></li>
                        </ul>
                        <li><h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2_SUB5" | translate}}</h4></li>
                        <li><h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2_SUB6" | translate}}</h4></li>
                        <li><h4>{{"JOINT_VENTURE_EXAMPLE_PARAGRAPH_2_SUB7" | translate}}</h4></li>
                    </ul>
                    <li><h4><strong>{{"ENTIRELY_OWNED_TITLE" | translate}}</strong></h4></li>
                    <h4>{{"ENTIRELY_OWNED_PARAGRAPH_1" | translate}}</h4>
                    <h4>{{"ENTIRELY_OWNED_PARAGRAPH_2" | translate}}</h4>
                    <h4><strong>{{"ENTIRELY_OWNED_EXAMPLE_TITLE" | translate}}</strong></h4>
                    <h4>{{"ENTIRELY_OWNED_EXAMPLE_PARAGRAPH_1" | translate}}</h4>
                    <ul>
                        <li><h4>{{"ENTIRELY_OWNED_EXAMPLE_PARAGRAPH_1_SUB1" | translate}}</h4></li>
                        <li><h4>{{"ENTIRELY_OWNED_EXAMPLE_PARAGRAPH_1_SUB2" | translate}}</h4></li>
                    </ul>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section section-light-gray section-padded-sm">
    <div class="container">
        <h4 class="section-header">{{"KEY_ROLES_TITLE" | translate}}</h4>
        <div class="extra-padding-sm">
            <h4>{{"KEY_ROLES_PARAGRAPH_1" | translate}}</h4>
            <h4>{{"KEY_ROLES_PARAGRAPH_2" | translate}}</h4>
            <h4>{{"KEY_ROLES_PARAGRAPH_3" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h4 class="section-header">{{"ACQUISITION_PROCESS_TITLE" | translate}}</h4>
        <div class="extra-padding-sm">
            <h4>{{"ACQUISITION_PROCESS_PARAGRAPH_1" | translate}}</h4>
            <ol>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP1_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP1_PARAGRAPH_1" | translate}}</h4>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP2_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP2_PARAGRAPH_1" | translate}}</h4>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP3_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP3_PARAGRAPH_1" | translate}}</h4>
                <h4>{{"ACQUISITION_PROCESS_BP3_PARAGRAPH_2" | translate}}</h4>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP4_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP4_PARAGRAPH_1" | translate}}</h4>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP5_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP5_PARAGRAPH_1" | translate}}</h4>
                <h4>{{"ACQUISITION_PROCESS_BP5_PARAGRAPH_2" | translate}}</h4>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP6_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP6_PARAGRAPH_1" | translate}}</h4>
                <ul>
                    <li><h4>{{"ACQUISITION_PROCESS_BP6_PARAGRAPH_1_SUB1" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP6_PARAGRAPH_1_SUB2" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP6_PARAGRAPH_1_SUB3" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP6_PARAGRAPH_1_SUB4" | translate}}</h4></li>
                </ul>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP7_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP7_PARAGRAPH_1" | translate}}</h4>
                <h4>{{"ACQUISITION_PROCESS_BP7_PARAGRAPH_2" | translate}}</h4>
                <li><h4><strong>{{"ACQUISITION_PROCESS_BP8_TITLE" | translate}}</strong></h4></li>
                <h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_1" | translate}}</h4>
                <h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_2" | translate}}</h4>
                <h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3" | translate}}</h4>
                <ul>
                    <li><h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3_SUB1" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3_SUB2" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3_SUB3" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3_SUB4" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3_SUB5" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3_SUB6" | translate}}</h4></li>
                    <li><h4>{{"ACQUISITION_PROCESS_BP8_PARAGRAPH_3_SUB7" | translate}}</h4></li>
                </ul>
            </ol>
        </div>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h4 class="section-header">{{"FINANCING_OPTIONS_TITLE" | translate}}</h4>
        <div class="extra-padding-sm">
            <h4>{{"FINANCING_OPTIONS_PARAGRAPH_1" | translate}}</h4>
            <ul>
                <li><h4>{{"FINANCING_OPTIONS_PARAGRAPH_1_SUB1" | translate}}</h4></li>
                <li><h4>{{"FINANCING_OPTIONS_PARAGRAPH_1_SUB2" | translate}}</h4></li>
                <li><h4>{{"FINANCING_OPTIONS_PARAGRAPH_1_SUB3" | translate}}</h4></li>
                <li><h4>{{"FINANCING_OPTIONS_PARAGRAPH_1_SUB4" | translate}}</h4></li>
            </ul>
            <h4>{{"FINANCING_OPTIONS_PARAGRAPH_2" | translate}}</h4>
            <h4>{{"FINANCING_OPTIONS_PARAGRAPH_3" | translate}}</h4>
            <h4>{{"FINANCING_OPTIONS_PARAGRAPH_4" | translate}}</h4>
            <h4>{{"FINANCING_OPTIONS_PARAGRAPH_5" | translate}}</h4>
        </div>
    </div>
</section>