<section class="section section-padded-sm hidden-xs hidden-sm">
    <div class="container">
        <h1 class="section-header extra-padding-bottom-md extra-margin-bottom-sm">{{"CONTACT" | translate}}</h1>
        <div class="row">
            <!--<div class="col-md-5">-->
                <!--<h3 class="text-center extra-padding-bottom-sm text-red">Say Hello</h3>-->
                <!--<h4>Do you have an investment project in mind or simply want to buy a house? Either way don't hesitate to contact us</h4>-->
                <!--<form class="extra-padding-sm" ng-submit="sendMessage()">-->
                    <!--<md-input-container class="md-block extra-padding-top-sm" >-->
                        <!--<label>{{"NAME" | translate}}</label>-->
                        <!--<input type="text" ng-model="messagnerName" ng-required="true">-->
                    <!--</md-input-container>-->
                    <!--<md-input-container class="md-block extra-padding-top-sm" >-->
                        <!--<label>{{"EMAIL" | translate}}</label>-->
                        <!--<input type="email" ng-model="messagnerEmail" ng-required="true">-->
                    <!--</md-input-container>-->
                    <!--<md-input-container class="md-block extra-padding-top-sm">-->
                        <!--<label>{{"MESSAGE" | translate}}</label>-->
                        <!--<textarea ng-model="messangerMessage" md-maxlength="150" rows="5" md-select-on-focus="" ng-required="true"></textarea>-->
                    <!--</md-input-container>-->
                    <!--<md-button type="submit" class="md-raised md-primary pull-right">{{"SUBMIT" | translate}}</md-button>-->
                <!--</form>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="map-container">
                    <iframe class="map" src="https://www.google.com/maps/embed/v1/place?q=Nuage+Investment+Realty,+Washington+Street,+Newton,+MA,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                </div>
                <div class="row extra-padding-sm">
                    <div class="col-xs-12">
                        <ul class="fa-ul">
                            <li class="extra-padding-bottom-sm"><i class="fa fa-li fa-map-marker extra-margin-right-sm"></i>1185 Washington Street Suite #1 Newton, MA 02465</li>
                            <li class="extra-padding-bottom-sm"><a class="contact-link" href="tel:{{telephone}}"><i class="fa fa-li fa-mobile  extra-margin-right-sm"></i>+1 (617) 678-3889</a></li>
                            <li class="extra-padding-bottom-sm"><a class="contact-link" href="mailto:{{email}}"><i class="fa fa-li fa-envelope-o  extra-margin-right-sm"></i>{{email}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-padded-md visible-xs visible-sm">
    <div class="container">
        <h1 class="section-header extra-padding-bottom-md extra-margin-bottom-sm">{{"CONTACT" | translate}}</h1>
        <div class="row">
            <div class="col-xs-12">
                <div class="map-container">
                    <iframe class="map" src="https://www.google.com/maps/embed/v1/place?q=Nuage+Investment+Realty,+Washington+Street,+Newton,+MA,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                </div>
            </div>
            <!--<div class="col-xs-12 extra-padding-top-md">-->
                <!--<h2 class="extra-padding-bottom-sm text-red">Say Hello</h2>-->
                <!--<form class="extra-padding-sm" ng-submit="sendMessage()">-->
                    <!--<md-input-container class="md-block extra-padding-top-sm" >-->
                        <!--<label>{{"NAME" | translate}}</label>-->
                        <!--<input type="text" ng-model="messagnerName" ng-required="true">-->
                    <!--</md-input-container>-->
                    <!--<md-input-container class="md-block extra-padding-top-sm" >-->
                        <!--<label>{{"EMAIL" | translate}}</label>-->
                        <!--<input type="email" ng-model="messagnerEmail" ng-required="true">-->
                    <!--</md-input-container>-->
                    <!--<md-input-container class="md-block extra-padding-top-sm">-->
                        <!--<label>{{"MESSAGE" | translate}}</label>-->
                        <!--<textarea ng-model="messangerMessage" md-maxlength="150" rows="5" md-select-on-focus="" ng-required="true"></textarea>-->
                    <!--</md-input-container>-->
                    <!--<md-button type="submit" class="md-raised md-primary pull-right">{{"SUBMIT" | translate}}</md-button>-->
                <!--</form>-->
            <!--</div>-->
        </div>
        <div class="row extra-padding-sm">
            <div class="col-xs-12">
                <ul class="fa-ul">
                    <li class="extra-padding-bottom-sm"><i class="fa fa-li fa-map-marker extra-margin-right-sm"></i>1185 Washington Street Suite #1 Newton, MA 02465</li>
                    <li class="extra-padding-bottom-sm"><a class="contact-link" href="tel:{{telephone}}"><i class="fa fa-li fa-mobile  extra-margin-right-sm"></i>+1 (617) 678-3889</a></li>
                    <li class="extra-padding-bottom-sm"><a class="contact-link" href="mailto:{{email}}"><i class="fa fa-li fa-envelope-o  extra-margin-right-sm"></i>{{email}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
