<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"EB5_OVERVIEW_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"EB5_OVERVIEW_PARAGRAPH_1" | translate}}</h4>
            <div class="extra-padding-sm">
                <h4><strong>{{"INVESTMENT_METHOD_TITLE" | translate}}</strong></h4>
                <h4>{{"INVESTMENT_METHOD_INFO1_PARAGRAPH_1" | translate}}</h4>
                <h4>{{"INVESTMENT_METHOD_INFO1_PARAGRAPH_2" | translate}}</h4>
                <ul>
                    <li><h5><strong><i>{{"INVESTMENT_METHOD_INFO1_TITLE" | translate}}</i></strong></h5></li>
                    <h5>{{"INVESTMENT_METHOD_INFO1_PARAGRAPH_1" | translate}}</h5>
                        <ol>
                            <li><h5>{{"INVESTMENT_METHOD_INFO1_PARAGRAPH_1_SUB1" | translate}}</h5></li>
                            <li><h5>{{"INVESTMENT_METHOD_INFO1_PARAGRAPH_1_SUB2" | translate}}</h5></li>
                        </ol>
                    <h5 class="extra-padding-bottom-md">{{"INVESTMENT_METHOD_INFO1_PARAGRAPH_2" | translate}}</h5>
                    <li><h5><strong><i>{{"INVESTMENT_METHOD_INFO2_TITLE" | translate}}</i></strong></h5></li>
                    <h5 class="extra-padding-bottom-md">{{"INVESTMENT_METHOD_INFO2_PARAGRAPH_1" | translate}}</h5>
                    <li><h5><strong><i>{{"INVESTMENT_METHOD_INFO3_TITLE" | translate}}</i></strong></h5></li>
                    <h5 class="extra-padding-bottom-md">{{"INVESTMENT_METHOD_INFO3_PARAGRAPH_1" | translate}}</h5>
                </ul>
                <h4><strong>{{"MINIMUM_LIMIT_TITLE" | translate}}</strong></h4>
                <h4 class="extra-padding-bottom-md">{{"MINIMUM_LIMIT_PARAGRAPH_1" | translate}}</h4>
                <h4><strong>{{"JOB_OPPORTUNITY_TITLE" | translate}}</strong></h4>
                <h4>{{"JOB_OPPORTUNITY_PARAGRAPH_1" | translate}}</h4>
            </div>
        </div>
    </div>
</section>
<section class="section section-light-gray section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"Q&A_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>Q: {{"EB5_QUESTION1_TITLE" | translate}}</h4>
            <ul class="extra-padding-bottom-sm">
                <li><h4>{{"EB5_QUESTION1_PARAGRAPH_1" | translate}}</h4></li>
                <li><h4>{{"EB5_QUESTION1_PARAGRAPH_2" | translate}}</h4></li>
            </ul>
            <h4>Q: {{"EB5_QUESTION2_TITLE" | translate}}</h4>
            <ul class="extra-padding-bottom-sm">
                <li><h4>{{"EB5_QUESTION2_PARAGRAPH_1" | translate}}</h4></li>
            </ul>
            <h4>Q: {{"EB5_QUESTION3_TITLE" | translate}}</h4>
            <ul class="extra-padding-bottom-sm">
                <li><h4>{{"EB5_QUESTION3_PARAGRAPH_1" | translate}}</h4></li>
            </ul>
            <h4>Q: {{"EB5_QUESTION4_TITLE" | translate}}</h4>
            <ul>
                <li><h4>{{"EB5_QUESTION4_PARAGRAPH_1" | translate}}</h4></li>
            </ul>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"EB5_EQUITY_STRUCTURE_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"EB5_EQUITY_STRUCTURE_PARAGRAPH_1" | translate}}</h4>
            <div class="extra-padding-top-sm">
                <h4><strong>{{"LOAN_MODEL_TITLE" | translate}}</strong></h4>
                <div class="img-responsive text-center extra-padding-md">
                    <img src="./images/financialModels/EquityModel.png" style="height: 35%; width: 35%">
                </div>
                <h4>{{"LOAN_MODEL_PARAGRAPH_1" | translate}}</h4>
            </div>
            <div class="extra-padding-top-sm">
                <h4><strong>{{"EQUITY_MODEL_TITLE" | translate}}</strong></h4>
                <div class="img-responsive text-center extra-padding-md">
                    <img src="./images/financialModels/LoanModel.png" style="height: 35%; width: 35%">
                </div>
                <h4>{{"EQUITY_MODEL_PARAGRAPH_1" | translate}}</h4>
            </div>
        </div>
    </div>
</section>
<section class="section section-light-gray section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"EB5_RISK_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"EB5_RISK_PARAGRAPH_1" | translate}}</h4>
            <div class="extra-padding-top-sm">
                <h4><strong>{{"FINANCIAL_RISK_TITLE" | translate}}</strong></h4>
                <h4 class="extra-padding-bottom-sm">{{"FINANCIAL_RISK_PARAGRAPH" | translate}}</h4>
                <h4><strong>{{"IMMIGRATION_RISK_TITLE" | translate}}</strong></h4>
                <h4 class="extra-padding-bottom-sm">{{"IMMIGRATION_RISK_PARAGRAPH" | translate}}</h4>
                <h4><strong>{{"EB5_SUGGESTION_TITLE" | translate}}</strong></h4>
                <h4>{{"EB5_SUGGESTION_PARAGRAPH_1" | translate}}</h4>
                <ol>
                    <li><h4>{{"EB5_SUGGESTION_PARAGRAPH_2" | translate}}</h4></li>
                    <li><h4>{{"EB5_SUGGESTION_PARAGRAPH_3" | translate}}</h4></li>
                    <li><h4>{{"EB5_SUGGESTION_PARAGRAPH_4" | translate}}</h4></li>
                    <li><h4>{{"EB5_SUGGESTION_PARAGRAPH_5" | translate}}</h4></li>
                    <li><h4>{{"EB5_SUGGESTION_PARAGRAPH_6" | translate}}</h4></li>
                    <li><h4>{{"EB5_SUGGESTION_PARAGRAPH_7" | translate}}</h4></li>
                    <li><h4>{{"EB5_SUGGESTION_PARAGRAPH_8" | translate}}</h4></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"EB5_SERVICE_TITLE" | translate}}</h3>
        <div class="extra-padding-top-sm">
            <h4>{{"EB5_SERVICE_PARAGRAPH_1" | translate }}</h4>
            <h4>{{"EB5_SERVICE_PARAGRAPH_2" | translate }}</h4>
            <h4>{{"EB5_SERVICE_PARAGRAPH_3" | translate }}</h4>
        </div>
    </div>
</section>