<section class="section section-padded-md section-light-gray">
    <div class="container">
        <div class="row extra-padding-bottom-md">
            <div class="col-md-4">
                <md-button-group class="md-raised">
                    <md-button ng-click="setSalesType('buy')" ng-class="{'btn-selected': salesType === 'buy'}">Buy</md-button>
                    <md-button ng-click="setSalesType('rent')" ng-class="{'btn-selected': salesType === 'rent'}">Rent</md-button>
                </md-button-group>
            </div>
            <div class="col-md-4">
                <md-input-container style="width: 100%">
                    <label style="font-size: 18px; color: black">City</label>
                    <md-select ng-model="selectedCity"
                               md-on-close="clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader">
                        <md-select-header class="demo-select-header">
                            <input ng-model="searchTerm"
                                   type="search"
                                   placeholder="Search for a city"
                                   class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="city">
                            <md-option ng-value="city" ng-repeat="city in cities |filter:searchTerm">{{city}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-4">
                <label>Min. {{minPrice | currency:"$":0}}</label>
                <md-slider-container>
                    <md-slider step={{minPriceStep}} min="10000" max="2000000" aria-label="Minimum price" ng-model="minPrice"></md-slider>
                </md-slider-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Max. {{maxPrice | currency:"$":0}}</label>
                <md-slider-container>
                    <md-slider step={{maxPriceStep}} min="10000" max="2000000" aria-label="Maximum price" ng-model="maxPrice"></md-slider>
                </md-slider-container>
            </div>
            <div class="col-md-4">
                <md-input-container style="width: 100%">
                    <label style="font-size: 18px; color: black">Mins beds</label>
                    <md-select ng-model="minBeds"
                               data-md-container-class="selectdemoSelectHeader">
                        <md-optgroup label="Min. Bed">
                            <md-option ng-value="bed" ng-repeat="bed in numBedBath">{{bed}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-4">
                <md-input-container style="width: 100%">
                    <label style="font-size: 18px; color: black">Mins baths</label>
                    <md-select ng-model="minBaths"
                               data-md-container-class="selectdemoSelectHeader">
                        <md-optgroup label="Min. Bed">
                            <md-option ng-value="bed" ng-repeat="bed in numBedBath">{{bed}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
</section>
<section class="section section-padded-md">
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="isLoading.properties">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</section>
