<section class="section section-padded-md">
    <div class="container">
        <h3 class="section-header">{{"HOME_VALUE_INDEX" | translate}}</h3>
        <div class="row extra-padding-top-lg">
            <div class="col-md-8 col-md-offset-2">
                <dic class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped ">
                        <thead>
                            <th COLSPAN="5">Market Overview</th>
                            <tr>
                                <th><h5><strong>City</strong></h5></th>
                                <th><h5><strong>Home Value Index</strong></h5></th>
                                <th><h5><strong>1-Year Change</strong></h5></th>
                                <th><h5><strong>1-Year Forecast</strong></h5></th>
                                <th><h5><strong>Index (Per Month)</strong></h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cityIndex in MarketIndex">
                                <td><h5>{{cityIndex.name}}</h5></td>
                                <td><h5>{{cityIndex.homeValueIndex | currency}}</h5></td>
                                <td><h5>{{cityIndex.oneYearChange}}</h5></td>
                                <td><h5>{{cityIndex.oneYearForecast}}<h5></td>
                                <td><h5>{{cityIndex.rentIndex | currency}}</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </dic>
            </div>
        </div>
    </div>
</section>
<section class="section section-light-gray section-padded-md">
    <div class="container">
        <h3 class="section-header">{{"TAX_RESIDENTIAL_EXCEPTION" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"TAX_Rate_2016" | translate}}</h4>
            <div class="row extra-padding-top-md">
                <div class="col-md-10 col-md-offset-1">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th><h5><strong><h5><strong>City</strong></h5></th>
                                    <th><h5><strong><h5><strong>Residential Tax Rate</strong></h5></th>
                                    <th><h5><strong><h5><strong>Residential Exemption</strong></h5></th>
                                    <th><h5><strong><h5><strong>Exemption Value(2016)</strong></h5></th>
                                    <th><h5><strong><h5><strong>Exemption Tax(2016)</strong></h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cityTaxRate in citiesTaxRate">
                                    <td><h5>{{cityTaxRate.name}}</h5></td>
                                    <td><h5>{{cityTaxRate.residentialTaxRate}}</h5></td>
                                    <td><h5>{{cityTaxRate.residentialExemption}}</h5></td>
                                    <td><h5>{{cityTaxRate.exemptionValue | currency}}</h5></td>
                                    <td><h5>{{cityTaxRate.exemptionTax | currency}}</h5></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"PUBLIC_SCHOOL_RANKING" | translate}}</h3>
        <div class="extra-padding-sm">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><h5><strong>District</strong></h5></th>
                            <th><h5><strong>Rank</strong></h5></th>
                            <th><h5><strong>Enrollment</strong></h5></th>
                            <th><h5><strong>Avg. Class Size</strong></h5></th>
                            <th><h5><strong>Student-to-Teacher Ratio</strong></h5></th>
                            <th><h5><strong>Per-Pupil Spending</strong></h5></th>
                            <th><h5><strong>Graduation Ration(%)</strong></h5></th>
                            <th><h5><strong>Attending College(%)</strong></h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="school in schools">
                            <td><h5>{{school.district}}</h5></td>
                            <td><h5>{{school.rank}}</h5></td>
                            <td><h5>{{school.enrollment}}</h5></td>
                            <td><h5>{{school.classSize}}</h5></td>
                            <td><h5>{{school.studentTeacherRatio}}</h5></td>
                            <td><h5>{{school.perPupilSpending}}</h5></td>
                            <td><h5>{{school.graduationRatio}}</h5></td>
                            <td><h5>{{school.attendingCollegeRatio}}</h5></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
