<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"BOSTON_OVERVIEW_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"BOSTON_OVERVIEW_PARAGRAPH_1" | translate}}</h4>
            <h4>{{"BOSTON_OVERVIEW_PARAGRAPH_2" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h3 class="section-header">{{"WHY_BOSTON_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"WHY_BOSTON_PARAGRAPH_1" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"MAJOR_CITY_HIGHLIGHTS_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h3><i>{{"GOOD_INVESTMENT_DISTRICT" | translate}}</i></h3>
            <div class="row extra-padding-bottom-md hidden-sm hidden-xs">
                <div class="col-md-3" style="height:330px">
                    <h5><strong>Back Bay (波士顿市区以西1.5英里)</strong></h5>
                    <ul>
                        <li><h5>位于地铁绿C线和橘线、以及铁路及Amtrak站上</h5></li>
                        <li><h5>毗邻高档的购物区,如 Newbury 街、Boylston 街及 Copley 广场,林立着特色商店、
                            时尚餐馆、古典住宅以及 Prudential Center、John Hancock 大厦和波士顿公共图书
                            馆</h5>
                        </li>
                        <li><h5>因靠近金融地区,深受金领人士欢迎</h5></li>
                    </ul>
                </div>
                <div class="col-md-3" style="height:330px">
                    <h5><strong>Brookline (波士顿市区西南方1.5英里)</strong></h5>
                    <ul>
                        <li><h5>位于地铁绿C线和绿D线沿线</h5></li>
                        <li><h5>此区以学生、研究人员及律师为主</h5></li>
                        <li><h5>因邻近学区房,深受年轻中产人士及有小孩的家庭欢迎</h5></li>
                        <li><h5><strong>小学:</strong> Baker Elementary School, Health Elementary School, Pierce
                            Elementary School</h5></li>
                        <li><h5><strong>大学:</strong> Medical School, Northeastern University 等</h5></li>
                    </ul>
                </div>
                <div class="col-md-3" style="height:330px">
                    <h5><strong>Cambridge (波士顿市区以北4.0英里)</strong></h5>
                    <ul>
                        <li><h5>横跨Charles河,位于地铁红线</h5></li>
                        <li><h5>由 Kendall 广场、Central 广场、Porter 广场及 Harvard 广场等组成的商业区</h5></li>
                        <li><h5>为创意及高科技创业公司的重镇</h5></li>
                        <li><h5>由于历年来房市升值、租赁市场需求巨大,深受中国投资者的欢迎</h5></li>
                        <li><h5><strong>大学:</strong> Harvard University, Massachusetts Institute of Technology</h5></li>
                    </ul>
                </div>
                <div class="col-md-3" style="height:330px">
                    <h5><strong>Allston (波士顿市区以西5.0英里)</strong></h5>
                    <ul>
                        <li><h5>位于地铁绿B线和绿C线沿线</h5></li>
                        <li><h5>由于拥有多家餐厅(靠近韩国城)、酒吧、商店及大型杂货店,此区深受学生欢迎</h5></li>
                        <li><h5>为中型城市化的城市,此区人口及小型企业密集</h5></li>
                        <li><h5><strong>大学:</strong> Boston University</h5></li>
                    </ul>
                </div>
            </div>
            <div class="row hidden-sm hidden-xs">
                <div class="col-md-3" >
                    <h5><strong>Somerville (波士顿市区西北方4.0英里)</strong></h5>
                    <ul>
                        <li><h5>横跨Charles河,位于地铁红线沿线</h5></li>
                        <li><h5>由于邻近Cambridge,是一座高潜力发展的城市</h5></li>
                        <li><h5>此区居民背景多样化、并与深受欢迎的 Davis 广场及 Union 广场为邻,林立着许多不同风格的餐厅</h5></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><strong>Brighton (波士顿市区以西7.0英里)</strong></h5>
                    <ul>
                        <li><h5>位于地铁绿C线和绿D线沿线</h5></li>
                        <li><h5><strong>大学:</strong> Boston College</h5></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><strong>Watertown (波士顿市区西北方8.5英里)</strong></h5>
                    <ul>
                        <li><h5>为多个MBTA公交车及电车铁路的总站</h5></li>
                        <li><h5>与邻近的Allston及Brighton等城市相比,物价相对较低</h5></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><strong>Waltham (波士顿市区西北方12.0英里)</strong></h5>
                    <ul>
                        <li><h5>位于火车(Commuter Rail)沿线,方便接驳地铁</h5></li>
                        <li><h5><strong>大学:</strong> Bentley University, Brandeis University</h5></li>
                    </ul>
                </div>
            </div>
            <div class="row extra-padding-bottom-md visible-sm visible-xs">
                <div class="col-xs-12 extra-padding-bottom-sm">
                    <h4><strong>Back Bay (波士顿市区以西1.5英里)</strong></h4>
                    <ul>
                        <li><h4>位于地铁绿C线和橘线、以及铁路及Amtrak站上</h4></li>
                        <li><h4>毗邻高档的购物区,如 Newbury 街、Boylston 街及 Copley 广场,林立着特色商店、
                            时尚餐馆、古典住宅以及 Prudential Center、John Hancock 大厦和波士顿公共图书
                            馆</h4>
                        </li>
                        <li><h4>因靠近金融地区,深受金领人士欢迎</h4></li>
                    </ul>
                </div>
                <div class="col-xs-12 extra-padding-bottom-sm">
                    <h4><strong>Brookline (波士顿市区西南方1.5英里)</strong></h4>
                    <ul>
                        <li><h4>位于地铁绿C线和绿D线沿线</h4></li>
                        <li><h4>此区以学生、研究人员及律师为主</h4></li>
                        <li><h4>因邻近学区房,深受年轻中产人士及有小孩的家庭欢迎</h4></li>
                        <li><h4><strong>小学:</strong> Baker Elementary School, Health Elementary School, Pierce
                            Elementary School</h4></li>
                        <li><h4><strong>大学:</strong> Medical School, Northeastern University 等</h4></li>
                    </ul>
                </div>
                <div class="col-xs-12 extra-padding-bottom-sm">
                    <h4><strong>Cambridge (波士顿市区以北4.0英里)</strong></h4>
                    <ul>
                        <li><h4>横跨Charles河,位于地铁红线</h4></li>
                        <li><h4>由 Kendall 广场、Central 广场、Porter 广场及 Harvard 广场等组成的商业区</h4></li>
                        <li><h4>为创意及高科技创业公司的重镇</h4></li>
                        <li><h4>由于历年来房市升值、租赁市场需求巨大,深受中国投资者的欢迎</h4></li>
                        <li><h4><strong>大学:</strong> Harvard University, Massachusetts Institute of Technology</h4></li>
                    </ul>
                </div>
                <div class="col-xs-12 extra-padding-bottom-sm">
                    <h4><strong>Allston (波士顿市区以西5.0英里)</strong></h4>
                    <ul>
                        <li><h4>位于地铁绿B线和绿C线沿线</h4></li>
                        <li><h4>由于拥有多家餐厅(靠近韩国城)、酒吧、商店及大型杂货店,此区深受学生欢迎</h4></li>
                        <li><h4>为中型城市化的城市,此区人口及小型企业密集</h4></li>
                        <li><h4><strong>大学:</strong> Boston University</h4></li>
                    </ul>
                </div>
                <div class="col-xs-12 extra-padding-bottom-sm">
                    <h4><strong>Somerville (波士顿市区西北方4.0英里)</strong></h4>
                    <ul>
                        <li><h4>横跨Charles河,位于地铁红线沿线</h4></li>
                        <li><h4>由于邻近Cambridge,是一座高潜力发展的城市</h4></li>
                        <li><h4>此区居民背景多样化、并与深受欢迎的 Davis 广场及 Union 广场为邻,林立着许多不同风格的餐厅</h4></li>
                    </ul>
                </div>
                <div class="col-xs-12 extra-padding-bottom-sm">
                    <h4><strong>Brighton (波士顿市区以西7.0英里)</strong></h4>
                    <ul>
                        <li><h4>位于地铁绿C线和绿D线沿线</h4></li>
                        <li><h4><strong>大学:</strong> Boston College</h4></li>
                    </ul>
                </div>
                <div class="col-xs-12 extra-padding-bottom-sm">
                    <h4><strong>Watertown (波士顿市区西北方8.5英里)</strong></h4>
                    <ul>
                        <li><h4>为多个MBTA公交车及电车铁路的总站</h4></li>
                        <li><h4>与邻近的Allston及Brighton等城市相比,物价相对较低</h4></li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <h4><strong>Waltham (波士顿市区西北方12.0英里)</strong></h4>
                    <ul>
                        <li><h4>位于火车(Commuter Rail)沿线,方便接驳地铁</h4></li>
                        <li><h4><strong>大学:</strong> Bentley University, Brandeis University</h4></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="extra-padding-sm">
            <h3><i>{{"GOOD_SCHOOL_DISTRICT" | translate}}</i></h3>
            <div class="row extra-padding-bottom-md hidden-sm hidden-xs">
                <div class="col-md-3">
                    <h5><strong>Newton (波士顿市区以西7.0英里)</strong></h5>
                    <ul>
                        <li><h5>位于地铁绿B线和绿C线沿线</h5></li>
                        <li><h5>美国财经杂志 <i>Money</i> 于2012年8月评选Newton为全美第四最适宜居住小型城市</h5></li>
                        <li><h5>因其良好的教育系统,居民多以年轻家庭及专业人士为主</h5></li>
                        <li><h5>此区有多所中文学校,因此深受华人移民欢迎</h5></li>
                        <li><h5><strong>小学:</strong> Elementary School, Underwood Elementary School, Bowen Elementary School</h5></li>
                        <li><h5><strong>初中:</strong> Charles E Brown Middle School, F A Day Middle School, Bigelow Middle School</h5></li>
                        <li><h5><strong>高中:</strong> Newton South High School, Newton North High School</h5></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><strong>Belmont (波士顿市区西北方9.0英里)</strong></h5>
                    <ul>
                        <li><h5>位于火车(Commuter Rail)沿线,方便接驳地铁</h5></li>
                        <li><h5><strong>小学:</strong> Roger Wellington Elementary School, Winn Brook School, Butler Elementary School</h5></li>
                        <li><h5><strong>初中:</strong> Winthrop L Chenery Middle School, Belmonte Middle School</h5></li>
                        <li><h5><strong>高中:</strong> Belmont High School</h5></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><strong>Wellesley (波士顿市区西南方15.0英里)</strong></h5>
                    <ul>
                        <li><h5>位于火车(Commuter Rail)沿线,方便接驳地铁</h5></li>
                        <li><h5>教育资源丰富,教学质量高</h5></li>
                        <li><h5><strong>小学:</strong> Hunnewell Elementary School, John D. Hardy Elementary School, Joseph E Fiske Elementary School, Katharine Lee Bates Elementary School</h5></li>
                        <li><h5><strong>初中:</strong> Wellesley Middle School</h5></li>
                        <li><h5><strong>高中:</strong> Wellesley High School</h5></li>
                        <li><h5><strong>大学:</strong> Wellesley College, Babson College, and Olin College</h5></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><strong>Lexington (波士顿市区西北方20.0英里)</strong></h5>
                    <ul>
                        <li><h5>位于火车(Commuter Rail)沿线,方便接驳地铁</h5></li>
                        <li><h5>此区遍布历史建筑,以开启美国独立战争,以当地传统美式生活形态闻名</h5></li>
                        <li><h5><strong>小学:</strong> Maria Hastings Elementary School, Bridge Elementary School, Joseph Estabrook Elementary School</h5></li>
                        <li><h5><strong>初中:</strong> Jonas Clarke Middle School, Wm Diamond Middle School</h5></li>
                        <li><h5><strong>高中:</strong> Lexington High School, Minuteman Regional High School</h5></li>
                    </ul>
                </div>
            </div>
            <div class="row extra-padding-bottom-md visible-sm visible-xs">
                <div class="col-md-3 extra-padding-bottom-sm">
                    <h4><strong>Newton (波士顿市区以西7.0英里)</strong></h4>
                    <ul>
                        <li><h4>位于地铁绿B线和绿C线沿线</h4></li>
                        <li><h4>美国财经杂志 <i>Money</i> 于2012年8月评选Newton为全美第四最适宜居住小型城市</h4></li>
                        <li><h4>因其良好的教育系统,居民多以年轻家庭及专业人士为主</h4></li>
                        <li><h4>此区有多所中文学校,因此深受华人移民欢迎</h4></li>
                        <li><h4><strong>小学:</strong> Elementary School, Underwood Elementary School, Bowen Elementary School</h4></li>
                        <li><h4><strong>初中:</strong> Charles E Brown Middle School, F A Day Middle School, Bigelow Middle School</h4></li>
                        <li><h4><strong>高中:</strong> Newton South High School, Newton North High School</h4></li>
                    </ul>
                </div>
                <div class="col-md-3 extra-padding-bottom-sm">
                    <h4><strong>Belmont (波士顿市区西北方9.0英里)</strong></h4>
                    <ul>
                        <li><h4>位于火车(Commuter Rail)沿线,方便接驳地铁</h5></li>
                        <li><h4><strong>小学:</strong> Roger Wellington Elementary School, Winn Brook School, Butler Elementary School</h5></li>
                        <li><h4><strong>初中:</strong> Winthrop L Chenery Middle School, Belmonte Middle School</h5></li>
                        <li><h4><strong>高中:</strong> Belmont High School</h5></li>
                    </ul>
                </div>
                <div class="col-md-3 extra-padding-bottom-sm">
                    <h4><strong>Wellesley (波士顿市区西南方15.0英里)</strong></h4>
                    <ul>
                        <li><h4>位于火车(Commuter Rail)沿线,方便接驳地铁</h4></li>
                        <li><h4>教育资源丰富,教学质量高</h4></li>
                        <li><h4><strong>小学:</strong> Hunnewell Elementary School, John D. Hardy Elementary School, Joseph E Fiske Elementary School, Katharine Lee Bates Elementary School</h4></li>
                        <li><h4><strong>初中:</strong> Wellesley Middle School</h4></li>
                        <li><h4><strong>高中:</strong> Wellesley High School</h4></li>
                        <li><h4><strong>大学:</strong> Wellesley College, Babson College, and Olin College</h4></li>
                    </ul>
                </div>
                <div class="col-md-3 extra-padding-bottom-sm">
                    <h4><strong>Lexington (波士顿市区西北方20.0英里)</strong></h4>
                    <ul>
                        <li><h4>位于火车(Commuter Rail)沿线,方便接驳地铁</h4></li>
                        <li><h4>此区遍布历史建筑,以开启美国独立战争,以当地传统美式生活形态闻名</h4></li>
                        <li><h4><strong>小学:</strong> Maria Hastings Elementary School, Bridge Elementary School, Joseph Estabrook Elementary School</h4></li>
                        <li><h4><strong>初中:</strong> Jonas Clarke Middle School, Wm Diamond Middle School</h4></li>
                        <li><h4><strong>高中:</strong> Lexington High School, Minuteman Regional High School</h4></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h3 class="section-header">{{"REAL_ESTATE_ROLE_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"REAL_ESTATE_ROLE_PARAGRAPH_1" | translate}}</h4>
            <h4>{{"REAL_ESTATE_ROLE_PARAGRAPH_2" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"BUYING_PROCESS_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"BUYING_PROCESS_PARAGRAPH_1" | translate}}</h4>
        </div>
        <ol>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_1" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_2" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_3" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_4" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_5" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_6" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_7" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_8" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_9" | translate}}</h4></li>
        </ol>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h3 class="section-header">{{"PROPERTY_MANAGEMENT_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"PROPERTY_MANAGEMENT_PARAGRAPH_1" | translate}} {{"PROPERTY_MANAGEMENT_PARAGRAPH_2" | translate}}</h4>
            <h4><strong>{{"TENANT_PLACEMENT" | translate}}</strong>: {{"TENANT_PLACEMENT_INFO" | translate}}</h4>
            <h4><strong>{{"RENTAL_MANAGEMENT" | translate}}</strong>: {{"RENTAL_MANAGEMENT_INFO" | translate}}</h4>
            <h4><strong>{{"PROPERTY_MAINTENANCE" | translate}}</strong>: {{"PROPERTY_MAINTENANCE_INFO" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"FINACING" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"FINACING_INFO_1"| translate}} {{"FINACING_INFO_2"| translate}} {{"FINACING_INFO_3"| translate}}
                {{"FINACING_INFO_4"| translate}} {{"FINACING_INFO_5"| translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h3 class="section-header">{{"TAXATION" | translate}}</h3>
        <div class="extra-padding-sm">
            <h3><i>{{"PROPERTY_TAX" | translate}}</i></h3>
        </div>
        <h4>{{"PROPERTY_TAX_INFO" | translate}}</h4>
        <div class="extra-padding-sm">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th COLSPAN="2">{{"TAX_2016"| translate}}</th>
                            </tr>
                            <th>{{"TAX_CITY" | translate}}</th>
                            <th>{{"RESIDENTIAL" | translate}}</th>
                            <tbody>
                            <tr>
                                <td>Allston</td>
                                <td>11.00</td>
                            </tr>
                            <tr>
                                <td>Arlington</td>
                                <td>12.80</td>
                            </tr>
                            <tr>
                                <td>Back Bay</td>
                                <td>11.00</td>
                            </tr>
                            <tr>
                                <td>Belmont</td>
                                <td>12.56</td>
                            </tr>
                            <tr>
                                <td>Brighton</td>
                                <td>11.00</td>
                            </tr>
                            <tr>
                                <td>Brookline</td>
                                <td>10.42</td>
                            </tr>
                            <tr>
                                <td>Cambridge</td>
                                <td>6.99</td>
                            </tr>
                            <tr>
                                <td>Lexington</td>
                                <td>14.60</td>
                            </tr>
                            <tr>
                                <td>Malden</td>
                                <td>15.16</td>
                            </tr>
                            <tr>
                                <td>Medford</td>
                                <td>11.19</td>
                            </tr>
                            <tr>
                                <td>Newton</td>
                                <td>11.38</td>
                            </tr>
                            <tr>
                                <td>Somerville</td>
                                <td>12.53</td>
                            </tr>
                            <tr>
                                <td>Waltham</td>
                                <td>12.24</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4>{{"PROPERTY_TAX_EXAMPLE" | translate}}</h4>
        </div>
        <div class="extra-padding-sm">
            <h3><i>{{"RENTAL_INCOM_TAX" | translate}}</i></h3>
        </div>
        <h4>{{"RENTAL_INCOM_TAX_INFO" | translate}}</h4>
        <div class="extra-padding-sm">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th COLSPAN="2">{{"DEDUCTIBLE_ITEMS"| translate}}</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>Advertising</td>
                                    <td>广告费</td>
                                </tr>
                                <tr>
                                    <td>Auto and travel</td>
                                    <td>汽车和旅行</td>
                                </tr>
                                <tr>
                                    <td>Cleaning and maintenance</td>
                                    <td>清洁和保修</td>
                                </tr>
                                <tr>
                                    <td>Commissions</td>
                                    <td>佣金</td>
                                </tr>
                                <tr>
                                    <td>Insurance</td>
                                    <td>保险</td>
                                </tr>
                                <tr>
                                    <td>Legal and other professional fees</td>
                                    <td>法律及其他专业费用</td>
                                </tr>
                                <tr>
                                    <td>Management fees</td>
                                    <td>管理费</td>
                                </tr>
                                <tr>
                                    <td>Mortgage interest paid to banks, etc.</td>
                                    <td>支付给银行的按揭利息等</td>
                                </tr>
                                <tr>
                                    <td>Repairs</td>
                                    <td>修理费</td>
                                </tr>
                                <tr>
                                    <td>Supplies</td>
                                    <td>供给费</td>
                                </tr>
                                <tr>
                                    <td>Taxes</td>
                                    <td>税费</td>
                                </tr>
                                <tr>
                                    <td>Utilities</td>
                                    <td>水电气费</td>
                                </tr>
                                <tr>
                                    <td>Depreciation expense or depletion</td>
                                    <td>折旧或摊销费用</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4><strong>{{"DEPRICIATION" | translate}}</strong></h4>
            <h4>{{"DEPRICIATION_INFO" | translate}}</h4>
        </div>
        <div class="extra-padding-sm">
            <h3><i>{{"SALES_TAX" | translate}}</i></h3>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"TAXPAYER_STATUS" | translate}}</strong></h4>
            <h4>{{"TAXPAYER_STATUS_INFO" | translate}}</h4>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"NON_RESIDENT_TAXPAYER" | translate}}</strong></h4>
            <h4>{{"NON_RESIDENT_TAXPAYER_INFO" | translate}}</h4>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"TRANSACTIOINS_EXCEPTION" | translate}}</strong></h4>
            <ol>
                <li><h4>{{"TRANSACTIOINS_EXCEPTION_INFO_1" | translate}}</h4></li>
                <li><h4>{{"TRANSACTIOINS_EXCEPTION_INFO_2" | translate}}</h4></li>
                <li><h4>{{"TRANSACTIOINS_EXCEPTION_INFO_3" | translate}}</h4></li>
            </ol>
            <h4>{{"TRANSACTIOINS_EXCEPTION_INFO_3_MORE_INFO" | translate}}<a href="http://www.irs.gov/publications/p515/index.html" class="service-link">{{"GOVERMENT_IRS_LINK" | translate}}</a> </h4>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"CAPITAL_GAIN" | translate}}</strong></h4>
            <h4>{{"CAPITAL_GAIN_INFO" | translate}}</h4>
            <ul>
                <li><h4>{{"CAPTIOL_GAIN_INFO_CAL1" | translate}}</h4></li>
                <li><h4>{{"CAPITAL_GAIN_INFO_CAL2" | translate}}</h4></li>
            </ul>
            <h4>{{"TAXATION_RECOMMEND" | translate}}</h4>
        </div>
    </div>
</section>