<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"BOSTON_OVERVIEW_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"BOSTON_OVERVIEW_PARAGRAPH_1" | translate}}</h4>
            <h4>{{"BOSTON_OVERVIEW_PARAGRAPH_2" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h3 class="section-header">{{"WHY_BOSTON_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"WHY_BOSTON_PARAGRAPH_1" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm ">
    <div class="container">
        <h3 class="section-header">{{"REAL_ESTATE_ROLE_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"REAL_ESTATE_ROLE_PARAGRAPH_1" | translate}}</h4>
            <h4>{{"REAL_ESTATE_ROLE_PARAGRAPH_2" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h3 class="section-header">{{"BUYING_PROCESS_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"BUYING_PROCESS_PARAGRAPH_1" | translate}}</h4>
        </div>
        <ol>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_1" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_2" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_3" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_4" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_5" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_6" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_7" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_8" | translate}}</h4></li>
            <li><h4>{{"BUYING_PROCESS_BULLET_PT_9" | translate}}</h4></li>
        </ol>
    </div>
</section>
<section class="section section-padded-sm ">
    <div class="container">
        <h3 class="section-header">{{"PROPERTY_MANAGEMENT_TITLE" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"PROPERTY_MANAGEMENT_PARAGRAPH_1" | translate}} {{"PROPERTY_MANAGEMENT_PARAGRAPH_2" | translate}}</h4>
            <h4><strong>{{"TENANT_PLACEMENT" | translate}}</strong>: {{"TENANT_PLACEMENT_INFO" | translate}}</h4>
            <h4><strong>{{"RENTAL_MANAGEMENT" | translate}}</strong>: {{"RENTAL_MANAGEMENT_INFO" | translate}}</h4>
            <h4><strong>{{"PROPERTY_MAINTENANCE" | translate}}</strong>: {{"PROPERTY_MAINTENANCE_INFO" | translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm section-light-gray">
    <div class="container">
        <h3 class="section-header">{{"FINACING" | translate}}</h3>
        <div class="extra-padding-sm">
            <h4>{{"FINACING_INFO_1"| translate}} {{"FINACING_INFO_2"| translate}} {{"FINACING_INFO_3"| translate}}
                {{"FINACING_INFO_4"| translate}} {{"FINACING_INFO_5"| translate}}</h4>
        </div>
    </div>
</section>
<section class="section section-padded-sm">
    <div class="container">
        <h3 class="section-header">{{"TAXATION" | translate}}</h3>
        <div class="extra-padding-sm">
            <h3><i>{{"PROPERTY_TAX" | translate}}</i></h3>
        </div>
        <h4>{{"PROPERTY_TAX_INFO" | translate}}</h4>
        <div class="extra-padding-sm">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th COLSPAN="2">{{"TAX_2016"| translate}}</th>
                            </tr>
                            <th>{{"TAX_CITY" | translate}}</th>
                            <th>{{"RESIDENTIAL" | translate}}</th>
                            <tbody>
                            <tr>
                                <td>Allston</td>
                                <td>11.00</td>
                            </tr>
                            <tr>
                                <td>Arlington</td>
                                <td>12.80</td>
                            </tr>
                            <tr>
                                <td>Back Bay</td>
                                <td>11.00</td>
                            </tr>
                            <tr>
                                <td>Belmont</td>
                                <td>12.56</td>
                            </tr>
                            <tr>
                                <td>Brighton</td>
                                <td>11.00</td>
                            </tr>
                            <tr>
                                <td>Brookline</td>
                                <td>10.42</td>
                            </tr>
                            <tr>
                                <td>Cambridge</td>
                                <td>6.99</td>
                            </tr>
                            <tr>
                                <td>Lexington</td>
                                <td>14.60</td>
                            </tr>
                            <tr>
                                <td>Malden</td>
                                <td>15.16</td>
                            </tr>
                            <tr>
                                <td>Medford</td>
                                <td>11.19</td>
                            </tr>
                            <tr>
                                <td>Newton</td>
                                <td>11.38</td>
                            </tr>
                            <tr>
                                <td>Somerville</td>
                                <td>12.53</td>
                            </tr>
                            <tr>
                                <td>Waltham</td>
                                <td>12.24</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4>{{"PROPERTY_TAX_EXAMPLE" | translate}}</h4>
        </div>
        <div class="extra-padding-sm">
            <h3><i>{{"RENTAL_INCOM_TAX" | translate}}</i></h3>
        </div>
        <h4>{{"RENTAL_INCOM_TAX_INFO" | translate}}</h4>
        <div class="extra-padding-sm">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th COLSPAN="2">{{"DEDUCTIBLE_ITEMS"| translate}}</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>Advertising</td>
                                    <td>广告费</td>
                                </tr>
                                <tr>
                                    <td>Auto and travel</td>
                                    <td>汽车和旅行</td>
                                </tr>
                                <tr>
                                    <td>Cleaning and maintenance</td>
                                    <td>清洁和保修</td>
                                </tr>
                                <tr>
                                    <td>Commissions</td>
                                    <td>佣金</td>
                                </tr>
                                <tr>
                                    <td>Insurance</td>
                                    <td>保险</td>
                                </tr>
                                <tr>
                                    <td>Legal and other professional fees</td>
                                    <td>法律及其他专业费用</td>
                                </tr>
                                <tr>
                                    <td>Management fees</td>
                                    <td>管理费</td>
                                </tr>
                                <tr>
                                    <td>Mortgage interest paid to banks, etc.</td>
                                    <td>支付给银行的按揭利息等</td>
                                </tr>
                                <tr>
                                    <td>Repairs</td>
                                    <td>修理费</td>
                                </tr>
                                <tr>
                                    <td>Supplies</td>
                                    <td>供给费</td>
                                </tr>
                                <tr>
                                    <td>Taxes</td>
                                    <td>税费</td>
                                </tr>
                                <tr>
                                    <td>Utilities</td>
                                    <td>水电气费</td>
                                </tr>
                                <tr>
                                    <td>Depreciation expense or depletion</td>
                                    <td>折旧或摊销费用</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4><strong>{{"DEPRICIATION" | translate}}</strong></h4>
            <h4>{{"DEPRICIATION_INFO" | translate}}</h4>
        </div>
        <div class="extra-padding-sm">
            <h3><i>{{"SALES_TAX" | translate}}</i></h3>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"TAXPAYER_STATUS" | translate}}</strong></h4>
            <h4>{{"TAXPAYER_STATUS_INFO" | translate}}</h4>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"NON_RESIDENT_TAXPAYER" | translate}}</strong></h4>
            <h4>{{"NON_RESIDENT_TAXPAYER_INFO" | translate}}</h4>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"TRANSACTIOINS_EXCEPTION" | translate}}</strong></h4>
            <ol>
                <li><h4>{{"TRANSACTIOINS_EXCEPTION_INFO_1" | translate}}</h4></li>
                <li><h4>{{"TRANSACTIOINS_EXCEPTION_INFO_2" | translate}}</h4></li>
                <li><h4>{{"TRANSACTIOINS_EXCEPTION_INFO_3" | translate}}</h4></li>
            </ol>
            <h4>{{"TRANSACTIOINS_EXCEPTION_INFO_3_MORE_INFO" | translate}}<a href="http://www.irs.gov/publications/p515/index.html" class="service-link">{{"GOVERMENT_IRS_LINK" | translate}}</a> </h4>
        </div>
        <div class="extra-padding-bottom-xs">
            <h4><strong>{{"CAPITAL_GAIN" | translate}}</strong></h4>
            <h4>{{"CAPITAL_GAIN_INFO" | translate}}</h4>
            <ul>
                <li><h4>{{"CAPTIOL_GAIN_INFO_CAL1" | translate}}</h4></li>
                <li><h4>{{"CAPITAL_GAIN_INFO_CAL2" | translate}}</h4></li>
            </ul>
            <h4>{{"TAXATION_RECOMMEND" | translate}}</h4>
        </div>
    </div>
</section>