<section class="section section-padded-sm">
    <div class="container">
        <h1 class="section-header">{{"OUR_SERVICE" | translate}}</h1>
        <div class="extra-padding-md">
            <h2 class="section-sub-header remove-top-bottom-margin">{{"FOR_RETAIL_CLIENTS" | translate}}</h2>
            <h4 class="extra-padding-bottom-sm">{{"FOR_RETAIL_CLIENTS_DESCRIPTION" | translate}}</h4>
            <a href="/assets/docs/BostonReal-EstateInvestmentGuide_Chinese.pdf" class="btn btn-navy hidden-sm hidden-xs">{{"BUTTON_INTERNATIONAL_BUYER_GUIDE" | translate}}</a>
            <a href="/assets/docs/BostonReal-EstateInvestmentGuide_Chinese.pdf" class="btn btn-navy btn-lg btn-block visible-sm visible-xs">{{"BUTTON_INTERNATIONAL_BUYER_GUIDE" | translate}}</a>
        </div>
        <div class="extra-padding-md">
            <h2 class="section-sub-header remove-top-bottom-margin">{{"FOR_INSTITUTIONAL_CLIENT" | translate}}</h2>
            <h4 class="extra-padding-bottom-sm">{{"FOR_INSTITUTIONAL_CLIENT_DESCRIPTION" | translate}}</h4>
            <a href="/assets/docs/Commercial-Property-Guide.pdf" class="btn btn-navy hidden-sm hidden-xs">{{"BUTTON_INSTITUTIONAL_CLIENT_GUIDE" | translate}}</a>
            <a href="/assets/docs/Commercial-Property-Guide.pdf" class="btn btn-navy btn-lg btn-block visible-sm visible-xs">{{"BUTTON_INSTITUTIONAL_CLIENT_GUIDE" | translate}}</a>
        </div>
        <div class="extra-padding-md">
            <h2 class="section-sub-header remove-top-bottom-margin">{{"FOR_EB-5_INVESTORS" | translate}}</h2>
            <h4 class="extra-padding-bottom-sm">{{"FOR_EB-5_CLIENT_DESCRIPTION" | translate}}</h4>
            <div class="container hidden-sm hidden-xs">
                <div class="row">
                    <a href="/assets/docs/EB5-Guide.pdf" class="btn btn-navy col-md-3">{{"BUTTON_EB-5_INVESTMENT_GUIDE" | translate}}</a>
                    <a href="/assets/docs/Immigration-guide.pdf" class="btn btn-navy col-md-3 col-md-offset-1">{{"BUTTON_EB-5_IMMIGRATION_GUIDE" | translate}}</a>
                </div>
            </div>
            <div class="extra-padding-bottom-md visible-sm visible-xs">
                <a href="/assets/docs/EB5-Guide.pdf" class="btn btn-navy btn-lg btn-block">{{"BUTTON_EB-5_INVESTMENT_GUIDE" | translate}}</a>
            </div>
            <a href="/assets/docs/Immigration-guide.pdf" class="btn btn-navy btn-lg visible-sm visible-xs">{{"BUTTON_EB-5_IMMIGRATION_GUIDE" | translate}}</a>
        </div>
    </div>
</section>