<section class="section section-padded-sm">
    <div class="container">
        <h1 class="section-header">{{"OUR_SERVICE" | translate}}</h1>
        <div class="extra-padding-top-md extra-padding-bottom-sm">
            <h2 class="section-sub-header remove-top-bottom-margin">{{"FOR_RETAIL_CLIENTS" | translate}}</h2>
            <h4 class="extra-padding-bottom-sm">{{"FOR_RETAIL_CLIENTS_DESCRIPTION" | translate}}<a class="service-link" ui-sref="marketing.retail"> Read more</a></h4>
        </div>
        <div class="extra-padding-sm">
            <h2 class="section-sub-header remove-top-bottom-margin">{{"FOR_INSTITUTIONAL_CLIENT" | translate}}</h2>
            <h4 class="extra-padding-bottom-sm">{{"FOR_INSTITUTIONAL_CLIENT_DESCRIPTION" | translate}}<a class="service-link" ui-sref="marketing.commercial"> Read more</a></h4>
        </div>
        <div class="extra-padding-sm">
            <h2 class="section-sub-header remove-top-bottom-margin">{{"FOR_EB-5_INVESTORS" | translate}}</h2>
            <h4 class="extra-padding-bottom-sm">{{"FOR_EB-5_CLIENT_DESCRIPTION" | translate}}<a class="service-link" ui-sref="marketing.eb-5"> Read more</a></h4>
        </div>
    </div>
</section>